* {
  margin:0;
  padding:0;
  outline:0;
  box-sizing:border-box;
  font-family: 'Roboto';
}

body {
  background-color: #fff;
  min-height:100%;
  -webkit-font-smoothing: antialiased !important;
}
strong {
  font-size: 16px;
  color: #222;
}
span {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.profile {
  display: flex;  
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 10px;
}
.noticies {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.image {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  /* border-radius: 500px; */
}
