* {
  margin: 0;
  padding: 0;
  outline: 0;
  max-height: 600px;
  box-sizing:border-box;
  font-family: 'Roboto';
}

body {
  background-color: #fff;
  min-height:100%;
  -webkit-font-smoothing: antialiased !important;
}
strong {
  font-size: 26px;
  color: #222;
  text-align: center;
}
span {
  font-size: 14px;
  font-weight: normal;
  color: #555;
  text-align: center;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
}
.profile {
  display: flex; 
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile button {
  background: none;
  border: 0;
  cursor: pointer;  
}
.profile2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 10px;
}
.noticies {
  display: flex;
  flex: 3;
  height: 600px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.image {
  height: 70px;
  width: 70px;
  border-radius: 30px;
  margin-bottom: 20px;
  /* border-radius: 500px; */
}

.card {
  display: grid;
  /* justify-content: left;7 */
  justify-content: left;
  align-items: flex-start;
  height: 120px;
  width: 900px;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card strong {
  font-size: 18px;
  color: #222;
  text-align: left;
  font-weight: 200;
}
.card span {
  text-align: left;
  font-size: 14px;
}
.noticies button {
  background: none;
  border: 0;
  height: 120px;
  width: 900px;
  cursor:pointer;
  
  
}

.noticies {
  /* overflow-y: scroll; */
}

.noticies button:hover {
  background-color: #f4f4f4
}
h2 {
  font-size: 26px;
  margin-bottom: 15px;
}
h3 {
  margin-bottom: 10px;
  text-align: left;
}
p {
  text-align: left;
  margin-bottom: 15px;
}

.title-paragraph {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.code-info {
  display: flex;
  width: 100%;
  background-color: #9e9d9d28;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  /* justify-content: center; */
}

.paragraph {
  text-align: justify;
}

.comand {
  color: rgb(253, 187, 7);
  font-weight: 600;
}

.code {
  padding-left: 5px;
  font-weight: 600;
}